.InfoSection {
	margin-bottom: 12px;
}

.InfoSection > p {
	font-family: 'Nunito-Bold';
	font-size: 22px;
	margin: 12px 0 4px 0;
	color: rgba(0, 0, 0, 0.6);
}

.InfoSection .card {
	border-radius: 10px;
	padding: 12px 16px 8px 16px;
}

.Pokemon .FlavorTextSection,
.Pokemon .InfoSizeSection {
	margin-top: 8px;
	font-size: 0.95rem;
	font-family: 'Nunito-Medium';
}

.Pokemon .FlavorTextSection .FlavorText .container,
.Pokemon .InfoSizeSection .InfoText .container {
	border: solid 1px #3f3f3f;
	border-radius: 10px;
	padding: 0.2rem 0;
}

.Pokemon .FlavorTextSection .FlavorText p,
.Pokemon .InfoSizeSection .InfoText p {
	margin: 0;
	color: rgba(0, 0, 0, 0.6);
}
